* {
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

.body-tag {
    color: $grey;
    font-family: $font-family;
    background-image: url('../images/casino-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes glow {
    0% {background-color: $light;}
    50%{background-color: $orange;}
    100%{opacity: $light;}
  }