.slot-sign {
    padding: 20px 20px 0 20px;
    background-image: $brush-steel-gradient;
}

.slot-sign__inner {
    padding: 0 60px 36px 60px;
    background-color: $dark;
    background: repeating-linear-gradient(
        #000,
        #000 10px,
        #413e3b 10px,
        #413e3b 20px
    );
}

.slot-sign__prizes-container {
    padding: 6px;
    background-color: $violet;
}

.slot-sign__prizes-heading {
    padding: 6px;
    background-color: $pink;
    border-radius: 16px 16px 0 16px;
}

.slot-sign__all-prizes {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    background-color: $dark;
    border: 6px solid $pink;
    border-radius: 16px 0 0 16px;
}

.slot-sign__banner {
    display: none;
}

.prizes-heading {
    background-color: $seafoam;
    font-size: 30px;
    color: $light;
    text-shadow: 0px 0px 6px $dark;
    border: 6px solid $dark;
    border-radius: 16px 16px 0 16px;
    text-align: center;
}

.slot-sign__prize-image-row {
    display: flex;
    width: 62%;
    justify-content: space-around;
}

.slot-sign__prize {
    display: flex;
    align-items: center;
    width: 49%;
    background-color: $beige;
    margin: 1px;
    flex: 1 1 auto;
}

.slot-sign__prize:nth-child(1) {
    border-radius: 6px 0 0 0;
}

.slot-sign__prize:nth-child(5) {
    border-radius: 0 0 0 6px;
}

.slot-sign__prize-image-container {
    width: 50px;
}

.slot-sign__prize-image {
    width: 100%;
    display: block;
}

.slot-sign__amount {
    flex: 1 1 auto;
    text-align: center;
}

.slot-sign__prize-amount {
    color: $red;
    font-weight: bold;
    text-shadow: 2px 2px 1px $dark;
    font-size: 50px;
}