* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $grey;
    font-family: $font-family;
}

.button--disabled {
    background-color: red;
    
}

.slot-machine-container {
    width: 800px;
}

.slot-machine__reel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slot-machine__reel {
    position: relative;
    margin: 0 10px;
}

.reel-image,
.placeholder-image {
    display: block;
    width: 100%;
}

.placeholder-image {
    visibility: hidden;
}

.slot-machine__inner-reel {
    position: absolute;
    transition: top .03s ease-in-out;
    width: 100%;
    top: 0;
}

.slot-machine__reel-element {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}