.button--disabled {
    background-color: $red;
}

.slot-machine {
    padding: 20px 20px 0 20px;
    background-image: $brush-steel-gradient;
}

.slot-machine-container {
    width: 800px;
}

.slot-machine__game-area {
    display: flex;
}

.slot-machine__reel-area {
    flex: 1 1 auto;
    padding: 0 5px 0 0;
}

.slot-machine__reel-inner {
    background-color: $dark;
    padding: 20px 0;
}

.slot-machine__player-info {
    width: 25%;
    background-color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-info__container {
    width: 60%;
}

.player-info__title {
    color: $grey;
    text-transform: uppercase;
    font-size: 12px;
}

.player-info__screen {
    border: 4px solid $grey;
    padding: 2px;
    min-height: 30px;
    background-color: $dark-red;
    text-align: right;
    border-radius: 8px;
}

.player-info__screen-text {
    color: $red;
    text-shadow: 
    0 0 5px $red,
    0 0 10px $red,
    0 0 20px $red,
    0 0 40px $red,
    0 0 80px $red,
    0 0 90px $red,
    0 0 100px $red,
    0 0 150px $red;
    font-weight: bold;
}

.player-info__winners-paid {
    margin: 0 0 6px 0;
}

.player-info__played-credits {
    display: flex;
    margin: 6px 0 0 0;
}

.player-info__played-credits .player-info__screen {
    width: 50%;
}

.slot-machine__reel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slot-machine__reel {
    position: relative;
    margin: 0 10px;
}

.reel-image,
.placeholder-image {
    display: block;
    width: 100%;
}

.placeholder-image {
    visibility: hidden;
}

.slot-machine__inner-reel {
    position: absolute;
    transition: top .03s ease-in-out;
    width: 100%;
    top: 0;
}

.slot-machine__reel-element {
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}