* {
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

body {
    background-color: $beige;
    color: $grey;
    font-family: $font-family;
}

.button--disabled {
    background-color: $red;
}

.slot-machine {
    padding: 20px 20px 0 20px;
    background-image: $brush-steel-gradient;
}

.slot-machine-container {
    width: 800px;
}

.slot-machine__game-area {
    display: flex;
}

.slot-machine__reel-area {
    flex: 1 1 auto;
}

.slot-machine__reel-inner {
    background-color: $dark;
}

.slot-machine__player-info {
    width: 25%;
}

.slot-machine__reel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slot-machine__reel {
    position: relative;
    margin: 0 10px;
}

.reel-image,
.placeholder-image {
    display: block;
    width: 100%;
}

.placeholder-image {
    visibility: hidden;
}

.slot-machine__inner-reel {
    position: absolute;
    transition: top .03s ease-in-out;
    width: 100%;
    top: 0;
}

.slot-machine__reel-element {
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}