$dark-color: #000;
$light-color: #fff;
$highlight-color: #a33b6c;
$red-color: #f7473d;
$yellow-color: #f0e13e;
$grey-color: #9a8783;
$teal-color: #4cd5ab;
$beige-color: #fdddd4;

$font: 'PT Sans', sans-serif;